<!--include header-->
<%-include('include/_header')%>
<!--/include header-->

<hr>
<section class="text-center" id='about'>
  <div class="row">
    <div class="col-lg-12 text-center">
        <h2 class="section-heading text-muted mb-5" id="skills">About</h2>
    </div>
</div>

<div class="container">
  
        <div class="col-sm-2 mb-3">
        <a href="/" class="btn  btn-outline btn-floating" >
                      <i class="fas fa-angle-double-left"></i></span>
                    </a>
         
        </div>
        <div class="justify-content-center mb-5">
        <h2 class="text-muted">New User</h2>
            <span>Use the below form to create a new account</span>
        </div>

        <!-- form handing-->
        <div class="table-responsive">
        <%-include('include/_form')%>
        
    </div>
  
<!-- /Main Site -->

</section>
<hr>

<!--include footer-->
<%-include('include/_footer')%>
<!--/include footer-->