<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet"/>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet"> 
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/style.css">
    <title>CV APP</title>
</head>
<body>

<!--Header-->
<header id="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarCenteredExample" aria-controls="navbarCenteredExample" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
        <!-- center links -->
        <ul class="navbar-nav mb-2 mb-lg-0">
          <a class="navbar-brand" href="/"><img src="https://mdbootstrap.com/img/Photos/Avatars/img (31).jpg" class="rounded-circle" height="72" alt="woman picture"/></a>
          
        </ul>
        <!-- /links -->
      </div>
      
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse justify-content-center" id="navbarCenteredExample">
        <!-- center links -->
        
        <ul class="navbar-nav mb-2 mb-lg-0">
        
          <li class="nav-item">
            <a class="nav-link" href="#skills">Personal skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">My Projects</a>
          </li>   
          
          <li class="nav-item">
          <a href="https://www.linkedin.com/in/jekaterina-ts-19757a45/" target="_blank" class="btn  btn-outline btn-floating" >
                      <i class="fab fa-linkedin-in"></i></span>
                    </a>
           
          </li>
          
        </ul>
        <!-- /links -->
      </div>
      
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
</header>
<!--/Header-->